$null: 0;
$colMain: #45d1a5;
$colStandart: #32323e;
$ButtonWidth: 30%;
$Rubik:  'Rubik', sans-serif;
$Poppins: 'Poppins', sans-serif;
$Semi: 'Saira Semi Condensed', sans-serif;
$mainBG:  url(/img/bg_main.jpg);
$Transition1s: 1s;
$Text-center: center;
